/*================================================================================
        Item Name: Robust - Responsive Admin Theme
        Version: 1.0
        Author: PIXINVENT
        Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/*.med-navbar-nav{ padding: 0.75rem 0;}*/


a {
    color: #5d7d83;
    text-decoration: none; }
a:focus {
    color: #4d666b;
    text-decoration: none; }
a:hover {
    color: #4d666b;
    text-decoration: none; }
a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

.btn-link { color: #5d7d83;}

.page-link {  color: #5d7d83; }

.btn-primary {
    color: #666;
    background-color: #c6e4ec;
    border-color: #c6e4ec; }
.btn-primary:hover {
    color: #666;
    background-color: #E6F3F7;
    border-color: #E6F3F7; }
.btn-primary:focus, .btn-primary.focus {
    color: #666;
    background-color: #E6F3F7;
    border-color: #E6F3F7; }
.btn-primary:active, .btn-primary.active,
.open > .btn-primary.dropdown-toggle {
    color: #666;
    background-color: #E6F3F7;
    border-color: #E6F3F7;
    background-image: none; }
.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
    color: #666;
    background-color: #E6F3F7;
    border-color: #E6F3F7; }
.btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary:disabled:focus, .btn-primary:disabled.focus {
    background-color: #E6F3F7;
    border-color: #E6F3F7; }
.btn-primary.disabled:hover, .btn-primary:disabled:hover {
    background-color: #E6F3F7;
    border-color: #E6F3F7; }

.tag-primary {
    background-color: #c6e4ec; }
.tag-primary[href]:focus {
    background-color: #E6F3F7; }
.tag-primary[href]:hover {
    background-color: #E6F3F7; }

a.bg-primary:focus {
    background-color: #E6F3F7 !important; }

a.bg-primary:hover {
    background-color: #E6F3F7 !important; }  

a.text-primary:focus {
    color: #E6F3F7 !important; }

a.text-primary:hover {
    color: #E6F3F7 !important; }

.card-primary {
    background-color: #c6e4ec;
    border-color: #c6e4ec; }
.card-primary .card-header,
.card-primary .card-footer {
    background-color: transparent; }


/******************************/
.header-navbar .navbar-header {
    height: 6rem!important;
}

.main-menu.menu-fixed {
    position: fixed;
    height: 100%;
    padding-top: 6rem;
    height: calc(100% - 4rem);
    top: 0;
}
.main-menu-content{
    margin-top: -10px;
    box-shadow: 2px 8px 4px rgba(0, 0, 0, 0.1)!important;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu .main-menu-footer {
    width: 240px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08);
}
.menu-box-shadow {
    /* box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.1); */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08);
}
.menu-rrss{   }

.md-bg-light { background: #ffffff!important; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08); }
.md-bg-trans {background: transparent!important; box-shadow: none!important ;}

.md-bg-blue { background-color: #c6e4ec!important;  }
.md-bg-blue-light { background-color: #C6E4EC!important;  }
.md-bg-blue-dark { background-color: #384664!important;  }
.md-bg-blue-sky { background-color: #aebfe3!important;  }
.md-bg-red { background-color: #ed253b!important;}
.md-bg-red-dark { background-color: #9F2439!important;}
.md-bg-gray { background-color: #858B8B!important;}
.md-bg-gray-light {background-color: #e7e7e8!important;}

.md-bg-red-dark a,.md-bg-red a,.md-bg-blue-sky  a,.md-bg-blue-dark a { color: #fff!important;  }
.md-bg-gray a, .md-bg-blue-light a,.md-bg-blue a { color: #666!important;  }

.nav-item.md-bg-red-dark a,.nav-item.md-bg-red a,.nav-item.md-bg-blue-sky  a,.nav-item.md-bg-blue-dark a,
.main-menu.menu-light .navigation > li.nav-item.open.md-bg-red-dark a,
.main-menu.menu-light .navigation > li.nav-item.open.md-bg-red a,.main-menu.menu-light .navigation > li.nav-item.open.md-bg-blue-sky  a,.main-menu.menu-light .navigation > li.nav-item.open.md-bg-blue-dark a { color: #fff!important;  }

.md-color-blue {color: #c6e4ec!important;  }
.md-color-blue-light {color: #C6E4EC!important;  }
.md-color-blue-dark {color: #384664!important;  }
.md-color-blue-sky {color: #aebfe3!important;  }
.md-color-red {color: #ed253b!important;}
.md-color-red-dark {color: #9F2439!important;}
.md-color-gray {color: #858B8B!important;}
.md-color-gray-light,.md-color-gray:hover {color: #e7e7e8!important;}

.md-text-center { text-align: center; }
.md-menu-p .nav-item{ padding: 1rem 0px!important; text-align: center}

.main-menu.menu-dark .navigation.md-menu-p  > li.open > ul {
    background:inherit!important; }
.main-menu.menu-dark .navigation.md-menu-p  > li.open > a {
    color: inherit!important;
    background: inherit!important; }

.main-menu.menu-dark .navigation.md-menu-p > li.hover > a, .main-menu.menu-dark .navigation.md-menu-p > li:hover > a, .main-menu.menu-dark .navigation > li.active > a {
    color: inherit!important;
    background-color: inherit!important; }
.main-menu.menu-dark .navigation.md-menu-p > li.hover > a.mm-next, .main-menu.menu-dark .navigation.md-menu-p > li:hover > a.mm-next, .main-menu.menu-dark .navigation > li.active > a.mm-next {
    background-color: inherit!important; }
.main-menu.menu-dark .navigation.md-menu-p > li.active > a {
    background-color: inherit!important; }
.main-menu.menu-dark .navigation.md-menu-p > li .active {
    background: inherit!important; }
.main-menu.menu-dark .navigation.md-menu-p > li .active > a {
    color: inherit!important;
    background: inherit!important; }
.main-menu.menu-dark .navigation.md-menu-p > li .active .hover > a {
    background: inherit!important; }

/*APP**********************************/
.main-menu.menu-light .navigation > li > a {
    padding: 1rem;
    text-transform: uppercase;    
}
.main-menu.menu-light .navigation > li.open > a {
    text-transform: uppercase;    
}
.main-menu.menu-light .navigation > li.open .hover > a ,
.main-menu.menu-light .navigation > li.hover > a, .main-menu.menu-light .navigation > li:hover > a, .main-menu.menu-light .navigation > li.active > a {
    color:inherit;
    text-decoration: underline!important;
    background-color: inherit; }
.main-menu.menu-light .navigation > li.hover > a > span, 
.main-menu.menu-light .navigation > li:hover > a > span, 
.main-menu.menu-light .navigation > li.active > a  > span{
    text-decoration: underline!important;
}

.main-menu.menu-light .navigation > li.hover.md-bg-blue, 
.main-menu.menu-light .navigation > li.md-bg-blue:hover , 
.main-menu.menu-light .navigation > li.active.md-bg-blue {
    background-color: #E6F3F7!important; 
}
.main-menu.menu-light .navigation > li.hover.md-bg-red, 
.main-menu.menu-light .navigation > li.md-bg-red:hover , 
.main-menu.menu-light .navigation > li.active.md-bg-red {
    background-color: #F05161!important; 
}
.main-menu.menu-light .navigation > li.hover.md-bg-gray-light, 
.main-menu.menu-light .navigation > li.md-bg-gray-light:hover , 
.main-menu.menu-light .navigation > li.active.md-bg-gray-light {
    background-color: #f8f8f8!important; 
}
.main-menu.menu-light .navigation > li.hover.md-bg-blue-sky, 
.main-menu.menu-light .navigation > li.md-bg-blue-sky:hover , 
.main-menu.menu-light .navigation > li.active.md-bg-blue-sky {
    background-color: #CBD6ED!important; 
}
.main-menu.menu-light .navigation > li.open > a {
    color: inherit!important;
    background: inherit!important;
}
.main-menu.menu-light .navigation > li.open .hover > a {
    background: inherit!important }
.main-menu.menu-light .navigation > li.open > ul {
    background: inherit!important;
}

@media (max-width: 992px) {
    .menu-rrss{ display: none; } 
}
.m-15{
    margin-right: 14px;
    margin-left: 14px;
}

.dropdown-toggle::after {
    top: -9px;

}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .menu-rrss{
    display: none;
}

.header-navbar .navbar-header .navbar-brand {
    padding: 6px;
}
.header-navbar .navbar-container ul.nav li > a.nav-link.btn-perfil {
    padding: 1.7rem 1.7rem 2rem!important;
}

@media (min-width: 1367px) {
    .header-navbar .navbar-header .navbar-brand {
        padding: 15px 5px;
    }
    .header-navbar .navbar-container ul.nav li > a.nav-link.btn-perfil {
        padding: 1.9rem 1.7rem 2.1rem!important;
    }
}



.vertical-overlay-menu .content {
    margin-left: 0;
    margin-top: 2rem;
}

.c-list li { position: relative }
.c-list li a:after {
    position: absolute;
    right: 20px;
    font-family: 'icomoon';
    content: "\eecb";
    transition: all 300ms linear 0s; }

.collapse-icon a[data-toggle="collapse"]:after {
    top: 0;
    margin-top: 0px;
}

.collapse-icon a[data-toggle="collapse"]:before {
    top: 0;
    margin-top: 0px; }

.app-content, body.vertical-layout.vertical-menu .footer{
    /*margin-left: 240px;
    margin-left: 0px!important;*/
}

html body {
    /*    background-color: #FFFFFF!important;*/
}

html body .app-content.content {
    background-color: #F3F3F3!important;
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-container {
    margin-left: 90px;
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-brand {
    padding: 5px;
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-header {
    float: left;
    width: 80px;
}

html body.fixed-navbar {
    padding-top: 0rem; /**/
}

.header-navbar .navbar-container ul.nav li > a.nav-link {
    padding: 2.5rem 0.4rem 0.5rem !important;
}

.header-navbar .navbar-container ul.nav li > a#menu-site-pub.nav-link {
    padding: 2rem 0.4rem!important;
}


.header-navbar .navbar-container ul.nav li > a.nav-link.btn-hm {
    padding-top: 2.3rem!important;
    width: 100%;
    text-align: center;
}

/*.header-navbar .navbar-container ul.nav li > a.nav-link.btn-perfil {
    padding: 1.4rem!important;
}*/

@media (max-width: 767px) {
    #navbar-mobile.navbar-toggleable-sm .navbar-nav {
        float: none!important; }
    #navbar-mobile.navbar-toggleable-sm .navbar-nav .dropdown-menu {
        position: absolute; }
    #navbar-mobile.navbar-toggleable-sm .navbar-nav .nav-item {
        width: 20%;
    } 
    #navbar-mobile.navbar-toggleable-sm .navbar-nav .nav-item:last-child {
        width: 30%;
    } 
    #navbar-mobile.navbar-toggleable-sm .navbar-nav .nav-item:first-child {
        width: 30%;
        text-align: center;
    } 

    #navbar-mobile.navbar-toggleable-sm .navbar-nav {
        clear: both;
        display: flex;
    }      

    .header-navbar .navbar-container ul.nav li > a.nav-link {
        padding: 0.8rem 0.4rem!important;
    }
    .header-navbar .navbar-container ul.nav li > a.nav-link.btn-hm {
        padding-top: 0.5rem!important;
        width: 320px;
        margin: 0px auto;
    }
    .header-navbar .navbar-container ul.nav li > a.nav-link.btn-perfil {
        padding: 0px!important;
    }

    #nav-site-pub{
        display: block;
        position: absolute;
        top: 6rem;
        left: 0px;
        z-index: 1000;
        padding: 20px;

    }

    #nav-site-pub .main-menu-content {
        margin-top: 0px!important;
    }

    #nav-site-pub .main-menu-content #main-menu-navigation {
        margin: 0px;
        padding: 0px;
    }
}

.menu-site-public {
    min-height: 1.5rem
}

.header-navbar.menu-site-public .navbar-container ul.nav li > a.nav-link {
    padding: 0rem!important;
    margin-left: 0.5rem;
}

.menu-site-public .main-menu-content {
    margin-top: -1.0rem!important;
    box-shadow: none!important;
}
.mt-7{
    margin-top: 2rem;

}

.pt-7{
    padding-top: 2rem;

}

@media (max-width: 767px) {
    .md-hm{ width: 100%!important; }
    .mt-7 {
        margin-top: 7rem!important;
    }

    .pt-7 {
        padding-top: 7rem!important;
    }
}


#nav-site-pub{ display: none;}

.horizontal-menu.menu-collapsed #nav-site-pub #main-menu-navigation .nav-item a span {
    display:block!important; 
}

.authorization.collapse-icon a[data-toggle="collapse"]:before,.authorization.collapse-icon a[data-toggle="collapse"]:after {
    top: 10px;   
    right: 10px;
}

.authorization.collapse-icon .card-header{ padding-right: 25px!important;}

.modal-body .carg {
    margin: 2rem auto;
    width: 60px;
    color:#CDE1FF;
}

.btn-outline-primary {
    color: #c6e4ec!important;    
    border-color: #c6e4ec!important;
}

.btn-outline-primary:hover {
    color: #fff!important;
    background-color: #c6e4ec!important;
    border-color: #c6e4ec!important;
}

.confirmacionPagoAccion{ text-align: center}

.bg-grey-light{ background-color: #F3F3F3;}
footer.navbar-shadow {
    box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.15)!important;
}

.cuadrosDisponibles {
    text-align:center;
    clear:both;
    margin-top:1rem;
    padding: 0 0 0 3%;
    height: 50px;
}
.cuadrosDisponibles li {
    display:inline-block;
    margin:0 3% 0 0;
    color:#fff;
    padding:1rem 0;
    text-align:center;    
    font-family: 'dosisregular';
    font-size:1em;
    width:21.5%;
}
@media (max-width: 543px)  {
    .cuadrosDisponibles {
        margin-top:0.6rem;
        height: 45px;
    }
    .cuadrosDisponibles li {
        font-size:0.6em;
    }
}


.cuadrosDisponibles li.last  {
    margin:0!important;
}
.colorFuente {
    color:#485b83!important;
}

.clndr .clndr-controls {
    color:white!important;
    font-size:1.2em!important;
    text-transform:uppercase!important;
    font-family: 'dosisbold'!important;
    text-align:center!important;
    padding:1% 0!important;
    background-color:#485b83!important;
}

#calendarCons .clndr-controls .clndr-previous-button {
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    float: left;
    margin-left: 10px;
}
#calendarCons .clndr-controls .clndr-previous-button:hover {
    background: #ddd;
}
#calendarCons .clndr-controls .clndr-previous-button.inactive {
    opacity: 0.5;
}
#calendarCons .clndr-controls .clndr-previous-button.inactive:hover {
    background: none;
    cursor: default;
}

#calendarCons .clndr-controls .clndr-next-button {
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    float: right;
    margin-right: 10px;
}
#calendarCons .clndr-controls .clndr-next-button:hover {
    background: #ddd;
}
#calendarCons .clndr-controls .clndr-next-button.inactive {
    opacity: 0.5;
}
#calendarCons .clndr-controls .clndr-next-button.inactive:hover {
    background: none;
    cursor: default;
}

td.inactive,td.event{
    background-color: #88A7D7;
}

.calPhy td.event{
    background-color: #D14553;
    cursor:pointer;
}

.pacientesCalendario .tablaCalendario tr td.inactive:hover ,.pacientesCalendario .tablaCalendario tr td.event:hover {
    background-color: #88A7D7!important;
}
.pacientesCalendario .tablaCalendario tr td.inactive:hover p,.pacientesCalendario .tablaCalendario tr td.event:hover p{
    color: #fff!important;
}
td.today.inactive{ background-color:#CDE1FF; }
td.today.inactive a {
    color:#666;
}
.pacientesCalendario .tablaCalendario tr td.today.inactive:hover{ background-color:#c6e4ec!important;}
.pacientesCalendario .tablaCalendario tr td.today.inactive:hover p{ color:#666!important;}
.modal-header p {
    font-family: 'dosisregular';
    font-size:1.25em;
    text-transform:uppercase;
    color: #CDE1FF;
}

td.today {
    background-color:#CDE1FF;
}

.pacientesCalendario .tablaCalendario {
    font-size:0.7em!important;
    background:#88a7d7;
}
.tablaCalendario tr td.lilaOscuro {
    cursor: pointer;
}
.tablaCalendario tr td.inactive {
    cursor: default;
}
.pacientesCalendario .tablaCalendario tr td.lilaOscuro:hover {
    background:#cde1ff!important;    
}
.pacientesCalendario .tablaCalendario tr td.lilaOscuro:hover p {
    color:#45587e;
}
.pacientesCalendario .calendarioEncabezado {
    font-size:0.8em!important;
}
.pacientesCalendario .mesAno {
    font-size:0.8em!important;
}
.horario {
    width:50%;
    display: inline-block;
    margin:0 0 0 0;
}
.horario .myselect {
    width:100%;
    background-color:#cde1ff!important;
    color:#485b83;
    height:100%;
    -webkit-appearance: none!important;  /*Removes default chrome and safari style*/
    -moz-appearance: none!important;  /*Removes default style Firefox*/
    appearance:none!important;
    border-radius:0;
    padding:3% 4%;
    height:100%;
    background:url(../images/flechaSelect.png) 97% 45% no-repeat;
    outline:none;
    font-family: 'dosisregular'!important;
    font-size:0.7em;
    text-transform:uppercase;
}

.pacientesCalendario .tablaCalendario tr td.inactive:hover ,.pacientesCalendario .tablaCalendario tr td.event:hover {
    background-color: #88A7D7!important;
}
.pacientesCalendario .tablaCalendario tr td.inactive:hover p,.pacientesCalendario .tablaCalendario tr td.event:hover p{
    color: #fff!important;
}
td.today.inactive{ background-color:#CDE1FF; }
td.today.inactive a {
    color:#666;
}
.pacientesCalendario .tablaCalendario tr td.today.inactive:hover{ background-color:#c6e4ec!important;}
.pacientesCalendario .tablaCalendario tr td.today.inactive:hover p{ color:#666!important;}

.calendarioDoctores {
    padding:0 2%!important;
}
.docCalendario {
    width:90%;
}
.docCalendario.dos {
    width:75%;
}
.tablaCalendario {
    font-family: 'dosismedium';
    color:#fff;
    font-size:1.3em;
    text-transform:uppercase;
    width:100%;
    background-color:#88a7d7;
    margin:0 0 2.5% 0;
}
.tablaCalendario.dos {
    font-size:0.7em;
}
.tablaCalendario tr td {
    vertical-align:middle;
    padding:0.5% 1%;
}
.tablaCalendario tr td p {
    margin:0;
}
.sencillo {
    font-family: 'dosisregular';
    font-size:0.9em;
}
.noPadding {
    padding:0!important;
}
.espacio {
    height:0.3em;
}
.disponible {
    background-color:#485b83;
}
.noDisponible {
    background-color:#88a7d7;
}
.curso {
    background-color:#cde1ff;
}
.consulta {
    background-color:#d14553;
}

.calendarioEncabezado {
    color:#fff;
    font-size:1.2em;
    text-transform:uppercase;
    font-family: 'dosisbold';
    text-align:center;
    padding:1% 0;
    background-color:#485b83;
}
.calendarioEncabezado.dos {
    font-size:0.8em;
}
.calendarioEncabezado p {
    margin:0;
}
.mesAno {
    color:#485b83;
    font-size:1.2em;
    text-transform:uppercase;
    font-family: 'dosisbold';
    text-align:center;
    padding:1% 0;
    background-color:#cde1ff;
}
.mesAno.dos {
    font-size:0.8em;
}
.mesAno p {
    margin:0;
}


.calendarioEncabezado {
    margin: 0;
}
bootstrap.min.css{
    margin: 0 0 10px;
}
styles_exterior.css body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
bootstrap.min.css {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
div.calendarioEncabezado .pacientesCalendario .calendarioEncabezado {
    font-size: 0.8em!important;
}

.pacientesCalendario .tablaCalendario tr td.lilaOscuro:hover p{

}

.lilaOscuro {
    background: #485b83;
}

#full-clndr {
    width: 100%;
    background-color: #ebebeb;
    font-weight: 700;
    -moz-box-shadow: 0px 4px 0 #343434;
    -webkit-box-shadow: 0px 4px 0 #343434;
    box-shadow: 0px 4px 0 #343434;
}
#full-clndr .clndr-controls {
    padding: 14px;
    background-color: #414141;
    color: white;
    text-align: center;
}
#full-clndr .clndr-controls .clndr-previous-button {
    float: left;
    text-align: left;
    margin-left: 20px;
}
#full-clndr .clndr-controls .clndr-next-button {
    float: right;
    text-align: right;
    margin-right: 20px;
}
#full-clndr .clndr-controls .clndr-previous-button,
#full-clndr .clndr-controls .clndr-next-button {
    width: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome/Safari */

    -moz-user-select: none;
    /* Firefox */

    -ms-user-select: none;
    /* IE10+ */

}
#full-clndr .clndr-controls .clndr-previous-button:hover,
#full-clndr .clndr-controls .clndr-next-button:hover {
    opacity: 0.5;
}
#full-clndr .clndr-grid {
    width: 100%;
    border-right: 1px solid white;
    border-left: 1px solid white;
}
#full-clndr .clndr-grid .days-of-the-week {
    width: 100%;
    background-color: white!important;
    color: #485b83!important;
}
#full-clndr .clndr-grid .days-of-the-week .header-day {
    float: left;
    width: 14.2857%;
    padding: 14px;
    text-align: center;
    color: #485b83!important;
}
#full-clndr .clndr-grid .days {
    width: 100%;
}
#full-clndr .clndr-grid .days .day,
#full-clndr .clndr-grid .days .empty {
    float: left;
    width: 14.2857%;
    height: 66px;
    padding: 24px 0;
    text-align: center;
    color: #4f4f4f;
    background-color: #ebebeb;
    border-bottom: 2px solid white;
    background-image: url('http://kylestetz.github.io/CLNDR/css/./triangle.svg');
    background-size: cover;
    background-position: center;
}

#full-clndr .clndr-grid .days .day .day-number {
    cursor: pointer!important;
}

#full-clndr .clndr-grid .days .day.inactive .day-number {
    cursor: none!important;
}



#full-clndr .clndr-grid .days .day.event .day-number,
#full-clndr .clndr-grid .days .empty.event .day-number {
    padding-bottom: 4px;
    border-bottom: 2px solid #3883a3;
}
#full-clndr .clndr-grid .days .day.adjacent-month .day-number,
#full-clndr .clndr-grid .days .empty.adjacent-month .day-number {
    opacity: 0.3;
}

#full-clndr .event-listing {
    float: left;
    width: 35%;
}
#full-clndr .event-listing .event-listing-title {
    padding: 14px;
    background-color: #71bbd2;
    text-align: center;
    color: white;
    letter-spacing: 1px;
}
#full-clndr .event-listing .event-item {
    padding: 14px;
    color: #4f4f4f;
}
#full-clndr .event-listing .event-item-location {
    font-weight: 400;
}
.noselect {
    -webkit-user-select: none;
    /* Chrome/Safari */

    -moz-user-select: none;
    /* Firefox */

    -ms-user-select: none;
    /* IE10+ */

}

#full-clndr .clndr-grid .days .day{
    background-color:#aebfe3!important;
    background-image: none!important;
    border: 1px white solid;
    color: white;
}

#full-clndr .clndr-grid .days .day.inactive{
    background-color:#e7e7e8!important;
    background-image: none!important;
    color: #4f4f4f!important;
}

#full-clndr .clndr-grid .days .day.today {
    background-color: #c6e4ec!important;
    background-image: none!important;
    color: #4f4f4f!important;
}

#full-clndr .clndr-grid .days .day.consulta{
    background-color: #ed253b!important;
    color: white!important;
}


/* Colors */

.bg-celeste {background-color: #c6e4ec!important;}
.bg-rojo  {background-color:#ed253b!important;}
.bg-rojoo  {background-color:#bc1f39!important;}
.bg-gris  {background-color:#e7e7e8!important;}
.bg-griso  {background-color:#878c89!important;}
.bg-lila  {background-color:#aebfe3!important;border-color: #aebfe3!important;}
.bg-lilao  {background-color:#485b83!important;}
.bg-verdeg  {background-color:#5d7d83!important;}
.bg-azulo  {background-color:#556789!important;}

.color-celeste {color: #c6e4ec!important;}
.color-rojo  {color:#ed253b!important;}
.color-rojoo  {color:#bc1f39!important;}
.color-gris  {color:#e7e7e8!important;}
.color-griso  {color:#878c89!important;}
.color-lila  {color:#aebfe3!important;}
.color-lilao  {color:#485b83!important;}
.color-verdeg  {color:#5d7d83!important;}
.color-azulo  {color:#556789;}

.tag-danger {
    background-color: #ed253b;
}
.tag-info {
    background-color: #aebfe3;
}
.tag-success {
    background-color: #37BC9B;
}
.avatar-online i {
    background-color: #37BC9B;
}
/* Colors */

#image_upload_modal .modal-dialog{
    z-index: 10000;
}
.avatar img {
    border-radius: initial!important;
}
.modal-footer .btn.btn-success,.btn.btn-info.fileinput-button,.btn-success.select-image-button{
    border-color: #c6e4ec!important;  
    background-color: #c6e4ec!important;  
    color: #666;
    margin: 1rem;
}

.modal-footer .btn{
    border-color: #c6e4ec!important;  
    background-color: #c6e4ec!important;  
    margin: 1rem;
}
#image_upload_modal .modal-dialog {
    margin: 30px auto!important; }

@media (max-width: 543px)  {
    #image_upload_modal .modal-dialog {
        width: 300px!important;
        max-width: 100%; } }

@media (min-width: 544px) {
    #image_upload_modal .modal-dialog {
        width: 420px!important;
        max-width: 100%; } }
@media (min-width: 768px) {
    #image_upload_modal .modal-dialog {
        width: 400px!important;
        max-width: 100%; } }
@media (min-width: 992px) {
    #image_upload_modal .modal-dialog {
        width: 740px!important;
        max-width: 100%; } }
@media (min-width: 1200px) {
    #image_upload_modal .modal-dialog {
        width: 850px!important;
        max-width: 100%; }
}
#expiration-month, #expiration-year,#card-number-field{
    height: 33px!important;   
}
#expiration-month{ width: 45px}
#expiration-year{ width: 60px}
@media (min-width: 1367px) {
    #expiration-month, #expiration-year,#card-number-field{
        height: 38px!important;   
    }
}

.form-group-wmb {
    margin-bottom: 0rem!important;
}
.form-group-wmt {
    margin-top: -1.3rem!important;
}
.form-group.col-lg-3.col-md-3 {
    clear: none!important;
}
.form-group.col-lg-3.col-md-3 .col-md-3 {
    width: 40%!important;
}
.form-group.col-lg-3.col-md-3 .col-md-9 {
    width: 60%!important;
}

@media (min-width: 544px) {
    .cuestionarioForm .form-group .label-control.etiquetaCuestionario {
        text-align:right; 
    }

}
@media (max-width: 544px) {
    .cuestionarioForm .form-group .label-control.etiquetaCuestionario {
        text-align: left; 
    }
}
@media (min-width: 768px) {
    .form-group > div.col-md-9, .form-group > table.col-md-9  {
        margin-left: 25%!important;
    }

    .form-group > label + div.col-md-9 {
        margin-left: 0!important;
    }

}

@media (max-width: 768px) {

    .f-mas .col-xs-10, .f-mas .col-xs-2,
    .f-mas-row .col-xs-10, .f-mas-row .col-xs-2,
    .dataOld .col-xs-10,  .dataOld .col-xs-2 {
        padding: 0px!important;
    }

    .f-mas-row .elim,
    .dataOld .elim {
        padding: 5px!important;
        margin: 0px 0px 0px 10px!important;
    }

    .f-mas .col-xs-10 .custom-file,
    .dataOld .col-xs-10 a,
    .f-mas-row .col-xs-10 .form-group{
        margin-right: 10px;
        overflow: hidden;
        display: block;
    }

    #accordionWrap, #reportForm, #listForm, #sharedForm{ display: none}
}

@media (max-width: 1024px) {
    .cuestionarioForm .form-group .label-control.etiquetaCuestionario {
        text-align: left; 
    }
    .form-group.col-lg-3.col-md-3 {
        clear: both!important;
        width: 100%!important;
    }
    .form-group.col-lg-3.col-md-3 .col-md-3,.form-group.col-lg-3.col-md-3 .col-md-9  {
        width: 100%!important;
        padding: 0px!important;
    }
    

}

.custom-file-control::after {
    content : 'Seleccione el archivo...'!important;
}

.custom-file-control::before {
    content : 'Buscar'!important;
}

.custom-file-control.changed::after {
    content : ''!important;
}
.custom-file-control {
    overflow: hidden;
}

.app-content .wizard.wizard-notification > .steps > ul > li.current .step {
    border: 2px solid #c6e4ec!important;
    background-color: #c6e4ec!important;
    color: #ffffff!important;

}
.app-content .wizard.wizard-notification > .steps > ul > li.current .step:after {
    border-top-color: #c6e4ec!important;
}

.app-content .wizard > .steps > ul > li.done .step {
    background-color: #aebfe3!important;
    border-color: #aebfe3!important;
    color: #fff;
}
.app-content .wizard.wizard-notification > .steps > ul > li.done .step:after {
    border-top-color: #aebfe3!important;
}

.app-content .wizard > .actions > ul > li > a {
    background-color: #c6e4ec!important;   
}

.custom-control-input:checked ~ .custom-control-indicator {
    color: #fff;
    background-color: #c6e4ec;
}

.form-group {
    clear: both;
}

.form-group-inputs .form-group {
/*    margin-bottom: 0.5rem;*/
}



.form-group:after {
    content:"";
    clear:both;
    display:block;
}

.form-group { zoom:1; }

.form-group .col-md-9 > div {
    margin-top: 0.5rem;
}

.marginTab_2  {
    /*border-top: 1px dotted  #c6e4ec;
    padding-top: 10px;*/
}

.table.table-xs th, .table.table-xs td {
    padding: 0.6rem 0.4rem;
}
.cuesationarioCampo .table {
    width: 75%;
    max-width: 75%;
}

.formFillConsView .form-control:disabled, .formFillConsView  .form-control[readonly] {
    background-color: transparent!important;
    opacity: 1!important;
    border: 0px!important;
}
.formFillConsView .table tr:first-child td {
    text-transform:uppercase;
    font-weight:bold;
}

.align-right-btn  {
    float: right;
    text-align: right;
    margin-right: 20px;
}

.historial_m_dico .cuesationarioCampo .table {
    width: 100%;
    max-width: 100%;
}

.h-90{ height: 90px;}



#fos_user_registration_form_plainPassword_first,#fos_user_registration_form_plainPassword_second {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.18rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

form #fos_user_registration_form_plainPassword_first,#fos_user_registration_form_plainPassword_second {
    border: 1px solid #d4d4d4;
    color: #5a5a5a;
}

.p-1px{ padding: 10px; }