{# empty Twig template #}
<h1><a href="{{ url('homepage') }}" class="logoImg">MedeConsult</a></h1>
<ul class="menurrss">
    <li ><a href="https://www.facebook.com/medeconsult/"><img class="width12" src="{{ asset('images/facebook_medeconsult.png', absolute=true) }}" alt="medeconsult" /></a></li>
    <li ><a href="https://twitter.com/medeconsult/"><img  class="width12" src="{{ asset('images/twitter_medeconsult.png', absolute=true) }}" alt="medeconsult" /></a></li>
    <li ><a href="https://www.linkedin.com/"><img  class="width12" src="{{ asset('images/linkedin_medeconsult.png', absolute=true) }}" alt="medeconsult" /></a></li>                        
</ul>