{# empty Twig template #}
<h5><br> {% if app.user.name is defined  %}{{app.user.name}}{%endif%}</h5>
<br>
<div class="docSeccion">
    <a href="{{path('patientssharemedicalhistory_guess')}}" class="docSecciones">Historiales</a><!--docSecciones-->
</div><!--docSeccion-->
