{% extends 'base.html.twig' %}

{% block body %}
    <div class="row" style="height:80%; ">
        <div class="col-xs-7 col-lg-8 modbg_izq" >
            <div class="imagenContacto"></div><!--imagenContacto-->
        </div><!--modbg_izq-->
        <div class="col-xs-5 col-lg-4 modpq_der modpq_comofunciona" >
            <h3>Contacto</h3>
            <p>info@medeconsult.com</p>
            <p>+1 (954) 543 0490</p>
            <form>
                <div class="campoContacto">
                    <label for="mail">Correo electrónico<sup>*</sup></label>
                    <input type="text" class="contactoError">
                </div><!--campoContacto-->
                <div class="campoContacto">
                    <label for="asunto">Asunto<sup>*</sup></label>
                    <input type="text" class="contactoError">
                </div><!--campoContacto-->
                <div class="campoContacto">
                    <label for="mensaje">Mensaje<sup>*</sup></label>
                    <textarea class="contactoError"></textarea>
                </div><!--campoContacto-->
                <p class="letraPequena">Todos los campos con el asterisco ('*') son obligatorios.</p><!--letraPequena-->
                <div class="campoContacto">
                    <label>
                        <input type="checkbox" class="checker">
                        <span class="aceptoTerminos">Envíeme una copia</span><!--aceptoTerminos-->
                    </label>
                </div><!--registroCampo-->
                <input type="submit" value="Enviar" class="submit verdeGris">
            </form>
        </div><!--modpq_der modpq_comofunciona-->
    </div><!--row-->
    <div class="row" style="height:10%; ">
        <div class="col-xs-12 barrafooter barraf_comofunciona">
            <ul>
                <li class="current"><a href="#">Contacto</a><div class="arrow comoFunciona"></div></li>
            </ul>
        </div><!--barrafooter barraf_comofunciona-->
    </div><!--row-->
{% endblock %}

{% block stylesheets %}

{% endblock %}
