{% extends '::baseadm.html.twig' %}

{% block body -%}
    <h5>StoragePlans creation</h5>

    {{ form(form,{ 'attr': {'class': 'formAmd'} }) }}

        <ul class="record_actions supe">
    <li>
        <a href="{{ path('storageplans') }}"  class="submit btnAdm lilaOscuro">Volver</a>
    </li>
</ul>
{% endblock %}
