{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Consultations creation</h1>

    {{ form(form) }}

        <ul class="record_actions supe">
    <li>
        <a href="{{ path('consultations') }}">
            Volver a la lista
        </a>
    </li>
</ul>
{% endblock %}
