{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="tituloAzulado">&nbsp;</h2><!--tituloAzulado-->
    <div class="cuadro uno cuadroError lila" style="background-color: #aebfe3!important">
        <p>Archivo no encontrado</p>        
    </div>
{% endblock body %}
