{% extends '::baseadm.html.twig' %}

{% block body -%}
    <h5>MedicalFormsFields creation</h5>

    {{ form(form,{ 'attr': {'class': 'formAmd'} }) }}

        <ul class="record_actions supe">
    <li>
        <a href="{{ path('medicalformsfields') }}" class="submit btnAdm lilaOscuro">
            Volver 
        </a>
    </li>
</ul>
{% endblock %}
